.button-color{

    font-size: 100px;
    color: rgb(220, 240, 44);
    background-color: rgb(168, 135, 222);
    padding: 15px 40px;
    width:250px ;
    text-align: right;
    text-align-last: auto;

}

.display-button-color{

    font-size: 40px;
    color: rgb(65, 22, 185);
    background-color: rgb(226, 48, 17);
    padding: 15px 30px;
    width:50px ;
} 